<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom @@classes">
        <div class="container position-relative">
            <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="@@path/">
                <span class="navbar-brand-dark">ᴄᴅ minix</span>
                <span class="navbar-brand-light">ᴄᴅ minix</span>
            </a>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="@@path/" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                ᴄᴅ minix
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center normal-font">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span class="nav-link-inner-text">Overview</span>
                        </a>
                    </li>
                    <!--
                    <li class="nav-item dropdown mega-dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" >
                            <span class="nav-link-inner-text">Blog Posts</span>
                            <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col pl-0">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="@@path/html/components/accordions.html">Accordions</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/alerts.html">Alerts</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/badges.html">Badges</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/bootstrap-carousels.html">Bootstrap Carousels</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/breadcrumbs.html">Breadcrumbs</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/buttons.html">Buttons</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/plugins/jquery-counters/" target="_blank">Counters <span class="badge badge-dark ml-3">Pro</span></a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/cards.html">Cards</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/e-commerce/" target="_blank">E-commerce <span class="badge badge-dark ml-3">Pro</span></a></li>
                                    </ul>
                                </div>
                                <div class="col pl-0">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="@@path/html/components/forms.html">Forms</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/icon-boxes/" target="_blank">Icon Boxes <span class="badge badge-dark ml-3">Pro</span></a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/modals.html">Modals</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/navs.html">Navs</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/plugins/owl-carousel/" target="_blank">Owl Carousels <span class="badge badge-dark ml-3">Pro</span></a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/pagination.html">Pagination</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/popovers.html">Popovers</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/progress-bars.html">Progress Bars</a></li>

                                    </ul>
                                </div>
                                <div class="col pl-0">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/icon-boxes/#steps" target="_blank">Steps <span class="badge badge-dark ml-3">Pro</span></a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/tables.html">Tables</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/tabs.html">Tabs</a> </li>
                                        <li><a class="dropdown-item" href="@@path/html/components/toasts.html">Toasts</a> </li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://themesberg.com/docs/neumorphism-ui/components/timelines/" target="_blank">Timelines <span class="badge badge-dark ml-3">Pro</span></a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/tooltips.html">Tooltips</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/typography.html">Typography</a></li>
                                        <li><a class="dropdown-item d-flex align-items-center justify-content-between" href="https://demo.themesberg.com/neumorphism-ui-pro/html/components/widgets.html" target="_blank">Widgets <span class="badge badge-dark ml-3">Pro</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    -->
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <a href="@@path/html/pages/contact.html" target="_blank" class="btn btn-primary text-secondary d-none d-md-inline-block mr-3"><i class="far fa-envelope mr-2"></i> Contact Me</a>
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>